/* body {
  text-align: center;
  background-color: lightblue;
  font-family: 'Lucida Sans', sans-serif;
} */
body {
  text-align: center;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', sans-serif;
}
#data {
  left:40%;

}
#guess {
  font-size: 20px;
  font-weight: 300;

}

td {
  padding: 10px;
  border: 1px solid black;
}

#game {
  position: absolute;
  width: 70vw;
  height: 70vh;
  left: 11.5vw;
  padding: 50px;
}

#hangManBox {
  position: relative;
  width: 20%;
  height: 50%;
  left: 36%;
  /* background: lime; */
}

#letters{
  position: relative;
  text-align: center;
  width: 60%;
  left: 20%;
}

button, #restart, #endButton{
  font-family: 'Lucida Sans', sans-serif;
  background-color: rgb(38, 2, 44);
  text-align: center;
  padding: 6px 10px;
  border-radius: 20px;
  margin: 10px;
  font-size: 28px;
  font-weight: 400;
  color: whitesmoke;
}
button {
  background-color: rgb(214, 82, 6);
}
#data {
  position: relative;
  text-align: left;
}

#controls{
  position: relative;
  text-align: center;
}

#a {
    color: red;
}
