body {
  text-align: center;
  background-image: url("images/background.png");
  background-size: 1800px 1100px, cover;
  font-family: 'Lucida Sans', sans-serif;
}

td {
  padding: 10px;
  border: 1px solid black;
}

#game {
  background-color: lightcoral;
  position: absolute;
  width: 70vw;
  height: 70vh;
  left: 11.5vw;

  padding: 50px;
}

#score {
  font-size: 45px;
  color: white;
}

#lives {
  font-size: 45px;
  color: white;
}

#hangMan{
  position: relative;
  width: 20%;
  height: 50%;
  left: 40%;
  margin-top: -25%;
  margin-bottom: 100px;
  background: lime;
}

#blanks{
  font-size: 100px;
  color: white;
  margin-top: -10%;
}

#letters{
  position: relative;
  text-align: center;
  width: 60%;
  left: 20%;
  margin-bottom: 10%;
}

#buttons{
  background-color:black;
}

#letterButton, #restart, #endButton{
  font-family: 'Lucida Sans', sans-serif;
  background-color: lightsalmon;
  text-align: center;
  padding: .8vh .8vw;
  border: 1px solid black;
  border-radius: 8px;
  width: 15%;
  font-size: 40px;
  margin : 10px;
  margin-bottom: 30px;
  color: white;
}

#data {
  position: relative;
  text-align: left;
}

#controls{
  position: relative;
  text-align: center;
}

#a {

    color: red;
}
